
@{
    ViewData["Title"] = "Privacy Policy";
}

<section>
    <h1>@ViewData["Title"]</h1>
    
    <section>
        <h4>GDPR</h4>
        
        <div>
            <p>If you're in the European Economic Area (EEA), you’re subject to comply with the General Data Protection Regulation (GDPR).</p>
            <p>The GDPR is one of the world’s most comprehensive privacy laws, setting international standards for appropriate data handling.</p>     
            <p>Article 12 of the GDPR grants users the right to transparent information about how their data is collected and handled.</p>
            <p>For business and website owners, this means that transparent privacy policies are mandated by the GDPR.</p>
        </div>
    </section>
    
    <section>
        <h4>CCPA</h4>
        
        <div>
            <p>Currently the most comprehensive data privacy law based in the US, the California Consumer Privacy Act (CCPA) builds on the online privacy policy requirements of CalOPPA.</p>
            <p>It builds on CalOPPA’s privacy policy standards, demanding that businesses and websites implement even more transparent and comprehensive policies.</p>
            <p>In effect since January 1, 2020, the CCPA sets an annual update requirement for privacy policies.</p>
        </div>
    </section>
</section>