@model IEnumerable<Entities.User>

@{ViewData["Title"] = "Index"}

<section id="user_info">
    @await Html.PartialAsync("fragments/details")

    @await Html.PartialAsync("fragments/cart")

    @await Html.PartialAsync("fragments/user_comments")

</section>