@model Entities.User

    <section class="cart">
        @foreach (var product in Model.Cart)
        {
            <div class="row grid-row">
                <div class="col-6 col-md-2">@Html.DisplayFor(x => product.Title)</div>
                <div class="col-2 col-md-1">Html.DisplayFor(x => product.Price)</div>
            </div>
        }
    </section>