@model Entities.User

<section class="details">
        <div class="row">
            <div class="col-6 col-md-2">@Html.DisplayFor(Model.Title)</div>
            <div class="d-none d-md-block col-md-6">Html.DisplayFor(Model.Description)</div>
            <div class="col-2 col-md-1"><p>Created </p>Html.DisplayFor(Model.Established)</div>
        </div>

        <div><a asp-action="edit">Edit details</a></div>
</section>