@model Entities.Product

@{ViewData["Product"] = "product"}

<h1>Create Product</h1>

<h4>Product</h4>
<hr />
<section id="create_product_dashboard">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Create">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                @await Html.PartialAsync("inputs")
            </form>
        </div>
    </div>
</section>

<div><a asp-action="Index">Go back</a></div>

@section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}