@model Entities.Product

@{ViewData["Title"] = "Edit";}

<h1>Edit</h1>

<h4>Product</h4>
<hr />
<section class="dashboard">
    <div class="row">
        <div class="col-md-4">
            <form asp-action="Edit">
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input type="hidden" asp-for="Id" />
                @await Html.PartialAsync("fragments/inputs")
            </form>
        </div>
    </div>
</section>

<div><a asp-action="Index">Go back</a></div>

@section Scripts {@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}}